{% extends 'base.html.twig' %}

{% block title %}Tarifs Horaires{% endblock %}

{% block body %}

<h1>Ici c'est les informations sur les Statistiques de fréquentation du site avec Google Analytics !!</h1>

{% endblock %}