body {
    font-family: 'Raleway', sans-serif;
}
nav, footer {
    background-color: #434B56;
}
.titrePerso {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}
h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-weight: bold;
    color: #434B56;
}
p, ul {
    color: #434B56;
}
.dropdownPerso {
    background-color: #434B56;
}
.dropdownItemColor {
    color: white;
}
.dropdownItemColor:active {
    background-color: #434B56;
}
.alert {
    top:0;
    width:100%;
    z-index: 5000;
    left: 0;
    position: absolute !important;
}
.card-header, .createCard {
    background-color: #A69D9F; 

}
.cardContour {
    border-color: #A69D9F; 
    border-radius: 5px;
}
.actu {
    background-color: #FED586;
}
.btnSuite {
    background-color: #626780;
    color: white;
    border-radius: 20px;
}
.btnEdit {
    background-color: #4CABB1;
    color: white;
    border-radius: 20px;
}
.btnSupr {
    background-color: maroon;
    color: white;
    border-radius: 20px;
}
.jumbotron {
    background-color: #4E5266;
}
.jumbotronTitle {
    color : whitesmoke;
}
.cardInfoHome {
    background-color: #69C7AD;
}
.infoPraticienne {
    background-color: #E9967A;
}
.infoSophro {
    background-color: #4CABB1
    ;
}
.carousel-item .img-fluid {
    width:100vw; /*Pour que l'image soit responsive sur les grands écrans*/
    height:500px;
}
.effetHover:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: #434b56;
    color:#DCDCDC;
}
.effetShadow {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.adminText {
    text-transform: capitalize;
}
.linkColor:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    color: olivedrab;
}
.linkColor{
    color: #4CABB1;
}
.imgCabinetHome {
    height: 515px;
}
#map {
    height: 300px;
}
#atelierHover1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: #4CABB1;
}
#atelierHover2:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: #69C7AD;
}
#atelierHover3:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: #E9967A;
}
#newAtelier:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: #FED586;
}




/* /////////////////// */
/* ///////// */
/* ////////////////////////////////@MEDIA//////////////////////////////// */
@media (max-width: 1400px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
	
}

@media (max-width: 576px) {

	footer {
		height : auto;
	}
	
}