body {
    font-family: 'Raleway', sans-serif;
}
nav, footer {
    background-color: #434B56;
}
h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-weight: bold;
    color: #434B56;
}
p, ul {
    color: #434B56;
}
/*KESAKO ?*/
.titrePerso {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

/****************************** Effet boutons site ************************************************/
.effetHover:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: #434b56;
    color:#DCDCDC;
}
.effetShadow {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

/************************************** Navbar dropdown ****************************************************/
.dropdownPerso {
    background-color: #434B56;
}
.dropdownItemColor {
    color: white;
}
.dropdownItemColor:active {
    background-color: #434B56;
}

/******************************* Bannière Alert **************************************************/
.alert {
    top:0;
    width:100%;
    z-index: 5000;
    left: 0;
    position: absolute !important;
}

/*********************************** Home + Pages *******************************************************/
.infoPraticienne {
    background-color: #E9967A;
}
.imgCabinetHome {
    height: 515px;
}
.infoSophro {
    background-color: #4CABB1;
}
.cardInfoHome {
    background-color: #69C7AD;
}
.actu {
    background-color: #FED586;
}

/********************************* Image / Carousel *****************************************/
.carousel-item .img-fluid {
    width:100vw; /*Pour que l'image soit responsive sur les grands écrans*/
    height:500px;
}

/****************************** Fil d'ariane ***********************************************/
.breadcrumb {
    background-color: #4E5266;
}

/***************************** Links + Links Breadcrumb ***********************************/
.linkColor:hover, .accueilBreadcrumb:hover {
    /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
    /* color:  #69C7AD; */
     /* text-decoration-line: none; */
    color: olivedrab;
}
.linkColor, .accueilBreadcrumb{
    color: #4CABB1;
}

/************************************ Map ************************************************/
#map {
    height: 300px;
}

/*********************************** Ateliers *******************************************/
#atelier1 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: #4CABB1;
}
#atelier1{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: #4CABB1;
}
#atelier2 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: #E9967A;
}
#atelier3 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: #69C7AD;
}
.atelierHover1, .atelierHover2, .atelierHover3, h3 {
    color: #ffffff;
}
.atelierHover1:hover, .atelierHover2:hover, .atelierHover3:hover{
    transition: 0.8s;
    background-color: #FED586;
}
#newAtelier {
    background-color: bisque;
}
#newAtelier:hover {
    transition: 0.8s;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color:  #FED586;
}

/******************************** Admin ******************************************************/
.jumbotron {
    background-color: #4E5266;
}
.jumbotronTitle {
    color : whitesmoke;
}
.adminText {
    text-transform: capitalize;
}
.card-header, .createCard {
    background-color: #A69D9F; 
}
.cardContour {
    border-color: #A69D9F; 
    border-radius: 5px;
}
.btnSuite {
    background-color: #626780;
    color: white;
    border-radius: 20px;
    text-decoration-line: none; 

}
.btnEdit {
    background-color:  #FED586;
    color: white;
    border-radius: 20px;
    text-decoration-line: none; 

}
.btnSupr {
    background-color: #E9967A ;
    color: white;
    border-radius: 20px;
    text-decoration-line: none; 

}

/***************************** Statistiques ******************************************/
.statCard1 {
    background-color: #E9967A;
}
.statCard2 {
    background-color: #4CABB1;
}
.statCard3 {
    background-color: #FED586;
}
/* .statCard1:hover, .statCard2:hover, .statCard3:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: #A69D9F;
} */

/**************************** Bouton retour haut ************************************/
a#cRetour{
    border-radius:3px;
    padding:10px;
    font-size:15px;
    text-align:center;
    color:#fff;
    background:rgba(0, 0, 0, 0.25);
    position:fixed;
    right:20px;
    opacity:1;
    z-index:99999;
    transition:all ease-in 0.2s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    text-decoration: none;
}
a#cRetour:before{ 
    content: "\25b2"; 
}
a#cRetour:hover{
    background:rgba(0, 0, 0, 1);
    transition:all ease-in 0.2s;
}
a#cRetour.cInvisible{
    bottom:-35px;
    opacity:0;
    transition:all ease-in 0.5s;
}
a#cRetour.cVisible{
    bottom:20px;
    opacity:1;
}

/* /////////////////// */
/* ///////// */
/* ////////////////////////////////@MEDIA//////////////////////////////// */
@media (max-width: 3000px) { 
    
    .positionPhone {
        display: none;
    }
    .positionDevice {
        display: initial;
    }

}

@media (max-width: 1400px) {

    
}

@media (max-width: 1024px) {

    img {
        height: 100%;
    }

}

@media only screen and (max-width: 991px) {

    .positionPhone {
        display: initial;
    }
    .positionDevice {
        display: none;
    }

}

@media only screen and (max-width: 768px) {
    

}

@media (max-width: 576px) {

	footer {
		height : auto;
    }
	
}