{% extends 'base.html.twig' %}

{% block title %}Tarifs Horaires{% endblock %}

{% block body %}

<div class="jumbotron jumbotron-fluid jumbotronTitle effetShadow">
    <div class="container">
        <h1 class="display-5 text-center">Mes Statistiques de fréquentation du site avec Google Analytics</h1>
    </div>
</div>


{% endblock %}