{% extends 'baseAdmin.html.twig' %}

{% block title %}Edition du Mot de passe{% endblock %}

{% block body %}

<h1 class="text-center mt-5">Modification du mot de passe</h1>

<div class="container my-5">
    {{ form_start(form) }}

    {{ form_row(form.password) }}
    {{ form_row(form.confirm_password) }}

    <button type="submit" class="btn btn-success my-3" id="modifierMdp" title="Envoyer : Modifier le mot de passe" >Envoyer</button>

    {{ form_end(form) }}
</div>

{% endblock %}