{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié ?{% endblock %}

{% block body %}

<div class="example-wrapper m-5 p-5">
    <h2 class="mt-5">Mot de passe oublié ?</h2>
    <p class="mb-5">Demandez à réinitialiser votre mot de passe en renseignant votre mail.</p>

    {{form_start(form)}}
    {{form_row(form.mail, {'label': 'Adresse Email : ','attr': {'placeholder': 'Entrez votre email...'}})}}
    <button class="btn btn btn-success mt-5" title="Réinitialiser le mot de passe" type="submit">Envoyer</button>
    {{form_end(form)}}
</div>

{% endblock %}