{% extends 'base.html.twig' %}

{% block title %}Cabinets de consultations{% endblock %}

{% block body %}
<div class="pb-2 cardInfoHome">

    {# <div class="jumbotron jumbotron-fluid shadow jumbotronTitle">
        <div class="container">
            <h1 class="text-center titrePerso">Mes lieux de consultations</h1>
        </div>
    </div> #}
    <!-- Fil d'ariane -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('home') }}" class="accueilBreadcrumb">Accueil</a></li>
            <li class="breadcrumb-item text-white active" aria-current="page">Mes lieux de consultations</li>
        </ol>
    </nav>

    <div class="container">
        <div class="card my-5 effetShadow">
            <div class="card-body">
                <h2 class="card-title text-center py-3 pb-4">Découvrir le cabinet</h2>
                <hr>
                <p class="card-text font-weight-bold mt-5">
                    CABINET DE SOPHROLOGIE , au centre du village de Labarthe-Rivière.
                </p>
                <p class="card-text">
                    Situé entre Saint-Gaudens et Montrejeau, à 20 minutes d’Aspet et 40 minutes de Bagnères-de-Luchon.<br>
                    Une petite grange rénovée pour vous accueillir dans un cadre chaleureux et apaisant.<br>
                    Un lieu calme, un espace de détente et d’échange pour faire la parenthèse avec son quotidien, se
                    ressourcer, respirer, se détendre et faire le plein de vitalité.
                    <p class="card-text">
                        8 Place Galliéni 31800 Labarthe-Rivière - Cabinet
                    </p>
                </p>
                <p class="card-text">
                    Ayant des interventions extérieures et une permanence à Saint-Gaudens, je vous accueille sur
                    rendez-vous, que ce soit pour une séance ou des renseignements.<br>
                </p>
                <hr>
                <p class="card-text font-weight-bold">
                    Sophrologie à Saint-Gaudens et à domicile
                </p>
                <p class="card-text">
                    Je vous propose des séances de sophrologie Caycédienne sur rendez-vous, à Saint-Gaudens dans un
                    cabinet
                    pluridisciplinaire.<br>
                    Situé en centre ville de Saint-Gaudens, avec places de parking gratuits à proximité.<br>
                    Pour les personnes ne pouvant se déplacer, je propose des interventions à domicile, le tarif peut
                    varier en fonction de l’indemnité kilométrique,<br>
                    Soit hors commune de Saint-Gaudens.
                </p>
                <p class="card-text">
                    31 Avenue François Mitterrand 31800 Saint-Gaudens - Permanence
                </p>
                <hr>
                <p class="card-text text-center mt-2">
                    N'hésitez-pas à me contactez,<br>
                    à bientôt,<br>
                    Anne-Sophie.<br>
                    <a href="{{ path('contact') }}" class="btn btnSuite mt-4 px-4 py-2 effetHover" value="Contactez-moi"
                        title="Contactez-moi : Formulaire de contact">Contactez-moi</a>
                </p>
                <hr>
            </div>
        </div>
        <div class="text-center">
            <a href="{{ path('home') }}" class="btn btnSuite mt-2 px-4 py-2 effetHover" title="Retour à l'accueil">Retour
                à l'accueil</a>
        </div>
    </div>

</div>

{% endblock %}