{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité - RGPD -{% endblock %}

{% block body %}
<!-- Fil d'ariane -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}" class="accueilBreadcrumb">Accueil</a></li>
        <li class="breadcrumb-item text-white active" aria-current="page">Politique de confidentialité</li>
    </ol>
</nav>

<div class="m-3 p-3">
    <h2 class="text-center text-secondary">Politique de confidentialité - RGPD -</h2>
    <hr class="my-4">
    <p class="text-secondary text-center">Notre site est conforme au RGPD (Règlement Général sur la Protection des
        Données), RÈGLEMENT du PARLEMENT EUROPÉEN (UE) 2016/679 et du CONSEIL de l’EUROPE du 27 avril 2016 relatif à la
        protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre
        circulation de ces données.</p>
    <hr class="my-4">
    <h5>Introduction</h5>
    <p>Quand vous naviguez sur notre site internet, notamment <b>https://www.sophrologue-labat.fr/</b> (nommée «l’Application
        » dans ce
        qui suit), vous donnez votre accord au traitement de vos données personnelles nommé la « Politique de
        confidentialité» dans la suite de ce document tel qu’expliqué dans cette « Politique ».</p>
    <p>La protection de vos données enregistrées compte pour nous.
        De ce fait, la politique des données a été revisitée et actualisée en prenant en compte les exigences du
        Règlement Général sur la Protection des Données.</p>
    <p>Il est bon de télécharger et de sauvegarder cette «Politique» : <a href="{{ asset('doc/RGPD_Labat_Sophrologue.pdf') }}" title="Pdf du Règlement Général sur la Protection des Données - RGPD -"
        class="linkColor" target="_blank">PDF du Règlement Général sur la Protection des Données - RGPD -</a></p>

    <br>

    <h6 class="mb-2">Définitions utiles :</h6>
    <p class="font-weight-bold font-italic mb-0">« Donnée à caractère personnel » :</p>
    <p>Toute information identifiant directement ou indirectement une personne physique (ex : nom, n° de téléphone,
        commune de résidence, adresse mail…) ;</p>
    <p class="font-weight-bold font-italic mb-0">« Traitement » : </p>
    <p>Toute opération, ou ensemble d’opérations, portant sur de telles données, quel que soit le procédé
        utilisé (collecte, enregistrement, organisation, conservation, adaptation, modification, extraction,
        consultation,
        utilisation, communication par transmission diffusion ou toute autre forme de mise à disposition,
        rapprochement ou
        interconnexion, verrouillage, effacement ou destruction, …) ;</p>
    <p class="font-weight-bold font-italic mb-0">« Fichier » :</p>
    <p>Tout ensemble structuré de données à caractère personnel accessibles selon des critères déterminés,
        que cet ensemble soit centralisé, décentralisé ou réparti de manière fonctionnelle ou géographique ;</p>
    <p class="font-weight-bold font-italic mb-0">« Responsable du/de traitement » :</p>
    <p>Le responsable d’un traitement de données à caractère personnel est, sauf désignation expresse par les
        dispositions législatives ou réglementaires relatives à ce traitement, la personne, l’autorité publique, le
        service ou l’organisme qui détermine ses finalités et ses moyens.<br>
        <p>En pratique et en général, il s’agit de la personne morale incarnée par son représentant légal ;</p>
    <p class="font-weight-bold font-italic mb-0">« Sous-traitant » :</p>
    <p>La personne physique ou morale, l’autorité publique, le service ou un autre organisme qui
        traite des données à caractère personnel pour le compte du responsable du traitement ;</p>
    <p class="font-weight-bold font-italic mb-0">« Violation de données à caractère personnel » :</p>
    <p>Une violation de la sécurité entraînant, de manière accidentelle ou illicite, la destruction, la perte,
        l’altération, la divulgation non autorisée de données à caractère personnel transmises, conservées ou
        traitées d’une autre manière, ou l’accès non autorisé à de telles données ;</p>
    <p class="font-weight-bold font-italic mb-0">« Consentement » de la personne concernée :<p>
        <p>Toute manifestation de volonté libre, spécifique, éclairée et univoque par laquelle la personne
            concernée accepte, par une déclaration ou par un acte positif clair, que des données à caractère
            personnel la concernant fasse l’objet d’un traitement ;</p>
    <p class="font-weight-bold font-italic mb-0">« Tiers » :</p>
    <p>Une personne physique ou morale, une autorité publique, un service ou un organisme autre que la
        personne concernée, le responsable du traitement, le sous-traitant et les personnes qui, placées sous
        l’autorité directe du responsable de traitement ou du sous-traitant, sont autorisées à traiter les données à
        caractère personnel.</p>

<h6 class="pt-3">1. Quel type d’informations recueillons-nous et quelle utilisation en faisons-nous?</h6>
    <p>1.1 Les données des visiteurs</p>
    <p>1.2 Les cookies</p>
    <p>1.3 Quelle utilisation faisons-nous de ces informations ?</p>
    <p>1.4 La conservation des données</p>

<h6>2. La divulgation d’informations personnelles</h6>
    <p>2.1 Données visiteur</p>
    <p>2.2 Les avis clients</p>
    <p>2.3 Autres divulgations</p>

<h6>3. Responsabilité à l’égard du traitement des données</h6>
    <p>3.1 Les informations dont nous sommes le responsable du traitement</p>
    <p>3.2 Les informations à l’égard desquelles l’utilisateur est responsable du traitement</p>

<h6>4. Les mesures de sécurité</h6>

<h6>5. Les cookies</h6>
    <p>5.1 Les types de cookies que nous utilisons</p>
    <p>5.2 La suppression des cookies</p>

<h6>6. Les droits des personnes concernées</h6>
    <p>6.1 Les droits d’accès et d’information</p>
    <p>6.2 Le droit de rectification</p>
    <p>6.3 Le droit d’opposition</p>
    <p>6.4 Le droit à l’effacement</p>
    <p>6.5 Le droit à la limitation du traitement</p>
    <p>6.6 Le droit à la portabilité</p>
    <p>6.7 Le droit au refus de décisions individuelles automatisées, y compris le profilage</p>

<h6>7. Les modalités d’exercice des droits des personnes concernées</h6>
<h6>8. Réclamation auprès de l’autorité de contrôle</h6>
<h6>9. La notification d’une violation de données personnelles</h6>

<hr>

<h5 class="pt-5">1. Quel type d’information recueillons-nous et quelle utilisation en faisons-nous ?</h5>
<p class="font-weight-bold mb-0">1.1 Les données des visiteurs</p>
<p>Lorsque vous visitez notre application et que vous vous voulez interagir avec notre site internet nous vous demanderons d’indiquer votre accord pour l’enregistrement des données ci-dessous :</p>
<p>Les données suivantes recueillies sont anonymisées :</p>
    <ul>
        <li>Le nombre de session utilisateur</li>
        <li>Le nombre d’utilisateur</li>
        <li>Le taux de rebond en pourcentage</li>
        <li>Le temps passé sur la page</li>
        <li>La durée totale de session</li>
        <li>La moyenne de page vue par session</li>
        <li>Le nombre de page vue</li>
        <li>Le nombre recherche organique</li>
    </ul>

<p class="font-italic">Vous pouvez installer des modules de navigateurs permettant de bloquer systématiquement les suivis d’audiences. Vous le trouverez ici : https://tools.google.com/dlpage/gaoptout</p>

<p class="font-weight-bold mb-0">1.2 Les Cookies</p>
<p>Nous utilisons des cookies sur notre site internet afin de réaliser des statistiques anonymes de visites. Un cookie est une information numérique que l’on enregistre depuis votre ordinateur.</p>
<p>Pour plus d’indications concernant l’utilisation de ces cookies, vous pouvez vous référer aux sections qui suivent.</p>

<p class="font-weight-bold mb-0">1.3 Quelle utilisation faisons-nous de ces informations</p>
<p>Les informations que vous nous fournissez peuvent être utilisées :</p>
    <ul>
        <li>Afin d’améliorer notre application et nos services.</li>
        <li>Pour diverses raisons professionnelles internes, comme l’analyse des données, le développement de
            nouveaux services et produits, la modification ou l’amélioration de nos services et de notre application, la prévention et le contrôle de la fraude, l’identification des tendances des usagers, l’analyse de l’efficacité des
            campagnes de promotion et l’expansion et l’exploitation de nos activités commerciales.</li>
        <li>Afin d’être à jour au niveau des dispositions juridiques et les procédures judiciaires applicables, avec les normes
            pertinentes du secteur et les politiques internes, ainsi que les demandes des autorités publiques.</li>
        <li>Dans l’optique de faire appliquer nos Conditions Générales.</li>
        <li>Afin de protéger notre confidentialité, nos droits, notre propriété ou notre sécurité et ceux de nos
            partenaires, ainsi que les vôtres ou ceux de tiers.</li>
        <li>Afin de nous permettre de limiter les dommages que nous risquons d’encourir ou d’exercer des recours
            disponibles.</li>
        <li>Les informations dont nous disposons peuvent aussi être utilisées d’autres façons. Dans ces cas-là, nous en
            détaillerons l’utilisation au moment de la collecte. Il nous est possible de divulguer ou d’utiliser des informations qui ne sont pas personnelles pour tout motif tant que cela reste dans le cadre de la loi en vigueur.</li>
    </ul>

<p class="font-weight-bold mb-0">1.4 La conservation des données</p>
<p>Lorsque nous récoltons des données, celles-ci sont conservées pour une durée de 3 ans maximum.</p>

<h5 class="pt-5">2. La divulgation d’informations personnelles</h5>
<p class="font-weight-bold mb-0">2.1. Les données personnelles des visiteurs</p>
<p>Nous ne récuperont pas de données personnelles et par conséquent, ne les transmettons à aucun tiers sans consentement clair et explicite en amont.</p>

<p class="font-weight-bold mb-0">2.2 Les avis clients</p>
<p>Si vous publiez votre avis à propos de nos services sur internet (par exemple sur Facebook, twitter, Google Reviews, …),
    l’avis partagé et la transmission d’informations personnelles qui peut en découler est à votre entière responsabilité. Les conditions générales d’utilisation de ces services qui régissent ces transmissions ne rentrent pas dans le cadre de la responsabilité de Madame Labat Anne-Sophie, Sophrologue.</p>

<p class="font-weight-bold mb-0">2.3 Autres divulgations</p>
<p>Nous pouvons divulguer vos informations personnelles ou d’utilisateur (ID, …) dans les circonstances suivantes aux parties suivantes, sans lien avec ce qui précède :</p>
    <ul>
        <li>Afin de permettre à des consultants, des fournisseurs tiers et autres prestataires de services d’effectuer des services en notre nom ;</li>
        <li>Afin de répondre aux demandes des autorités publiques, et aux procédures en justice (y compris, sans s’y limiter,
            les injonctions et ordonnances des tribunaux) ou de se conformer aux lois ;</li>
        <li>Afin de coopérer avec les autorités publiques et les organismes réglementaires, y compris, sans s’y limiter, les
            normes commerciales, l’autorité de la concurrence et des marchés, ainsi que le porte-parole français des
            consommateurs, en lien avec un renvoi de plainte ou une enquête ;</li>
        <li>Des tiers pour assurer la protection de nos opérations ;</li>
        <li>Des tiers afin d’exercer des recours disponibles ou de limiter un préjudice que nous pourrions subir ;</li>
        <li>Des tiers pour enquêter, prévenir, prendre des mesures ou agir à l’égard d’activités illicites, y compris, sans s’y
            limiter, le détournement de notre site Internet et la fraude ;</li>
        <li>À d’autres outils qui seraient spécifiés en amont de la récolte de données.</li>
    </ul>

<h5 class="pt-5">3. Responsabilité à l’égard du traitement des données</h5>
<p class="font-weight-bold mb-0">3.1 Informations dont nous sommes le responsable du traitement</p>
    <ul>
        <li>Nous sommes le responsable du traitement des données que nous recueillons avec votre accord.</p>
        <li>Nous sommes aussi responsables du traitement des données en ce qui concerne les informations qui sont divulguées à d’autres prestataires (voir la section 2.4). La collecte des données par l’application du site internet https://www.sophrologue-labat.fr/ est régie par les lois françaises en matière de protection des données.</p>
        <li>Étant responsable du traitement des données, le site internet https://www.sophrologue-labat.fr/ s’assure que ses sous-traitants respectent les mesures de sécurité techniques, physiques et organisationnelles qui sont nécessaires, pertinentes et raisonnables afin de garantir la protection des données collectées.</p>
    </ul>
<p class="font-weight-bold mb-0">3.2 Les informations à l’égard desquelles l’utilisateur est responsable du traitement</p>
<p>Les utilisateurs du site sont responsables du traitement des données qui concernent le contenu divulgué par eux sur les réseaux sociaux ou les sites d’avis clients.</p>

<h5 class="pt-5">4. Les mesures de sécurité</h5>
<p>Le site internet https://www.sophrologue-labat.fr/ fait en sorte d’appliquer des mesures raisonnables au niveau organisationnel, technique et administratif afin de protéger les informations personnelles des utilisateurs, et nous effectuons de manière régulière des contrôles du système afin d’y détecter de possibles problèmes autour de tous les échanges entre le navigateur et le serveur.</p>

<h5 class="pt-5">5. Les cookies</h5>
<p>Notre site Internet utilise des cookies. En utilisant notre site internet, vous donnez votre accord à l’utilisation des Cookies de la manière qui est décrite ci-dessous.</p>
<p class="font-weight-bold mb-0">5.1 Les types de cookies que nous utilisons</p> 
<p>Les cookies sont des informations numérisées depuis le site internet qui sont enregistrées sur votre ordinateur, sur votre smartphone ou sur votre tablette. Ces informations permettent une communication plus efficace entre l’utilisateur et le navigateur.</p>
<p>Le site utilise des cookies de session, ainsi que des technologies semblables à ces derniers. Les cookies de session quant à eux sont temporaires et sont donc supprimés dès que votre navigateur est fermé.</p>
<p class="font-weight-bold mb-0">5.2 La suppression des cookies</p>
<p>Dans le cas où vous désirez effacer les cookies enregistrés sur votre ordinateur, il est possible d’effectuer une manipulation. Il faut appuyer sur CTRL + MAJ + SUPPR simultanément. En cas de problème au niveau de ce raccourci, vous pouvez regarder l’aide que présente votre navigateur. Il est important de savoir que si vous refusez les cookies de notre site, certains problèmes peuvent apparaître lorsque vous utilisez ce-dernier. Certaines fonctions peuvent être en partie ou complètement inaccessibles.</p>

<h5 class="pt-5">6. Les droits des personnes concernées</h5>
<p class="font-weight-bold mb-0">6.1 Les droits d’accès et d’information</p>
<p>Comme l’indique la loi Informatique et Libertés de 1978, les données personnelles que nous traitons sont à votre
disposition et vous avez donc un droit d’accès et d’information à leur égard.</p>
<p>Si vous nous le demandez, nous vous ferons part de la raison pour laquelle nous traitons vos données personnelles,
du type d’informations dont nous disposons vous concernant, du délai imposé avant la suppression de ces données et
des personnes susceptibles de recevoir ces informations personnelles. Cette politique des données fait déjà état d’un bon nombre d’informations en ce qui concerne l’utilisation de vos données personnelles.</p>

<p class="font-weight-bold mb-0">6.2 Le droit de rectification</p>
<p>Comme l’indique la loi Informatique et Libertés de 1978, les informations que nous traitons sont susceptibles d’être rectifiées par les utilisateurs. Vous êtes en droit de les modifier.</p>
<p>Dès lors, si nous traitons des données vous concernant qui soient erronées, il est important que vous nous contactiez afin que nous puissions effectuer leur modification.</p>

<p class="font-weight-bold mb-0">6.3 Droit d’opposition</p>
<p>Vous êtes en droit, comme l’indique le Règlement Général sur la Protection des Données, de vous opposer au traitement de vos données personnelles.</p>
<p>Afin d’être reçue, votre demande doit respecter les conditions d’exercice de ce droit (cf. l’article 21 du règlement).</p>

<p class="font-weight-bold mb-0">6.4 Le droit à l’effacement</p>
<p>Vous pouvez demander la suppression de vos données personnelles. Ce droit à l’oubli est indiqué dans le Règlement Général sur la Protection des Données.</p>
<p>Afin d’être reçue, votre demande doit respecter les conditions d’exercice de ce droit (cf. l’article 17 du règlement).</p>

<p class="font-weight-bold mb-0">6.5 Le droit à la limitation du traitement</p>
<p>Vous pouvez demander la limitation du traitement de vos données personnelles. Ce droit est indiqué dans le Règlement Général sur la Protection des Données.</p>
<p>Afin d’être reçue, votre demande doit respecter les conditions d’exercice de ce droit (cf. l’article 18 du règlement).</p>

<p class="font-weight-bold mb-0">6.6 Le droit à la portabilité</p>
<p>Vous pouvez demander la portabilité de vos données personnelles. Ce droit est indiqué dans le Règlement Général sur la Protection des Données.</p>
<p>Afin d’être reçue, votre demande doit respecter les conditions d’exercice de ce droit (cf. l’article 20 du règlement).</p>

<p class="font-weight-bold mb-0">6.7 Le droit au refus de décisions individuelles automatisées, y compris le profilage</p>
<p>Vous pouvez refuser les décisions individuelles automatisées. Ce droit est indiqué dans le règlement général sur la protection des données.</p>
<p>Afin d’être reçue, votre demande doit respecter les conditions d’exercice de ce droit (cf. l’article 22 du règlement).</p>

<h5 class="pt-5">7. Les modalités d’exercice des droits des personnes concernées</h5>
<p>Si le traitement des données personnelles vous concerne et que vous souhaitez exercer l’un de vos droits mentionnés dans le point 6, merci de nous adresser un courrier par voie électronique à contact[at]sophrologue-labat.fr ou à partir
du <a href="{{ path('contact') }}"  value="Formulaire de contact" title="Formulaire de contact" class="linkColor">Formulaire de contact</a> sur le site ou bien par voie postale à notre siège social à : <i>Mme Anne-Sophie Labat, 31 Avenue François Mitterrand - 31800 Saint-Gaudens.</i></p>
<p>Le traitement de ces demandes peut être refusé par Madame Labat Anne-Sophie, Sophrologue, (article 12.5 RGPD) si elles se révèlent excessives ou infondées, par exemple lorsqu’elles sont répétitives.</p>

<h5 class="pt-5">8. Réclamation auprès de l’autorité de contrôle</h5>
<p>Dans le cas où Madame Labat Anne-Sophie, Sophrologue, ne respecte pas ses obligations, la personne concernée par
un traitement de données personnelles est en droit d’introduire une réclamation auprès de la CNIL : <a href="https://www.cnil.fr/fr/vous-souhaitez-contacter-la-cnil" value="Contacter la Cnil" title="Site de la CNIL" class="linkColor" target="_blank"/>Contact www.cnil.fr</a>, autorité de contrôle compétente en matière de protection des données personnelles.</p>

<h5 class="pt-5">9. La notification d’une violation de données personnelles</h5>
<p>Madame Labat Anne-Sophie, Sophrologue, s’engage, afin d’éviter toute violation de données personnelles, à prendre toutes les mesures adéquates et pertinentes.</p>
<p>Si une violation de données personnelles venait toutefois à survenir, nous nous engageons à notifier la CNIL de cette violation. Conformément à l’article 33 du RGPD, cette notification se ferait dans les meilleurs délais et dans la mesure du possible, 72 heures après en avoir pris connaissance au plus tard, sauf dans le cas où la violation en question ne soit pas susceptible d’entraîner un risque pour les droits et libertés des personnes concernées.</p>
<p>Comme l’indique l’article 34 du RGPD, ce devoir de notification à l’autorité de contrôle pourra être accompagné d’une communication à la personne concernée.</p>
</div>
{% endblock %}