{% extends 'base.html.twig' %}

{% block title %}Conseils{% endblock %}

{% block body %}
<div class="pb-2">

<div class="jumbotron jumbotron-fluid shadow jumbotronTitle">
    <div class="container">
        <h1 class="text-center">Retrouvez ici tout les conseils en sophrologie</h1>
    </div>
</div>
<a href="{{ path('home') }}" class="btn btnSuite mt-5 px-4 py-2 effetHover" title="Retour à l'accueil">Retour à l'accueil</a>
</div>
{% endblock %}