{% extends 'base.html.twig' %}

{% block title %}Expériences{% endblock %}

{% block body %}
<div class="pb-2 infoPraticienne">
    <!-- Fil d'ariane -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('home') }}" class="accueilBreadcrumb">Accueil</a></li>
            <li class="breadcrumb-item text-white active" aria-current="page">Mon expérience</li>
        </ol>
    </nav>
    <div class="container">
        <div class="card my-4 effetShadow">
            <div class="card-body">
                <section class="article">
                    <article>
                        <h4 class="card-title py-3 text-center">Mon expérience</h4>
                        <hr>
                        <div class="content">
                            <p class="card-text pt-2">
                                En parallèle de mon cursus scolaire et universitaire,<br>
                                Je me suis toujours orientée vers des activités professionnelles auprès d’enfants, en
                                tant qu’animatrice, dans l’encadrement,l’organisation et dans la gestion du quotidien.
                            </p>
                            <p class="card-text pt-2">
                                Aussi j’ai choisie l’Aide à domicile, auprès de personne âgées ou dans l’accompagnement
                                au
                                quotidien de personnes en difficultés.
                            </p>
                            <p class="card-text pt-2">
                                Ces différentes expériences, au fil des années, m’ont montrée l’importance d’être à
                                l’écoute de l’autre de soi, de ce que l’on ressent.<br>
                                Savoir prendre du temps pour s’écouter, les bienfaits d’une attitude positive et que
                                les solutions sont souvent en nous.
                            </p>
                            <p class="card-text pt-2">
                                Je me suis donc orientée dans une profession où l’on est dans l’accompagnement et
                                l’écoute, qui propose de laisser le mental de côté pour s’accorder un temps pour soi,
                                où l’on apprend à faire la parenthèse avec le quotidien pour vivre un moment de
                                détente, positif, et surtout qui donne des outils pour être mieux dans son quotidien.
                            </p>
                            <p class="card-text pt-2">
                                    J’ai découvert <a href="https://sofrocay.com/comprendre/#3" title="La sophrologie Caycédienne"
                                        target="_blank" class="linkColor">la sophrologie Caycédienne</a>, une évidence, pas seulement un
                                    moment de relaxation, c’est aussi une méthode efficace pour renforcer profondément ses
                                    capacités et ses valeurs, mobiliser ses
                                    ressources, être à l’écoute de ce qui nous mobilise ou immobilise, pour être en
                                    harmonie avec soi-même.<br>
                                    <b>« Selon qui nous sommes, nous trouvons nos propres solutions »</b>
                                </p>
                        </div>
                    </article>
                    <hr>
                    <div class="row my-5">
                        <div class="col-lg">
                            <p>
                                Je pratique la sophrologie auprès de toutes et tous, en réponse à des difficultés ou
                                par volonté de
                                développement personnel.
                            </p>
                            <p class="pt-2">
                                Depuis 2013, j"anime des séances collectives avec les enfants, de la maternelle au
                                primaire, auprès d'associations, d'amicale laïque, de club-sportif ou sur les temps
                                périscolaires.<br>
                                J'interviens en entreprise pour des modules de préventions sur les risques
                                psychosociaux liée au travail. Je participe à des journée de prévention et de bien-être
                                au travail avec des mutuelles <a href="https://sante.mnt.fr/?utm_source=bing&utm_medium=cpc&utm_campaign=Marque%20MNT&utm_term=%2Bmnt&utm_content=Marque%20large"
                                    title="Mutuelle Nationale Territoriale" target="_blank" class="linkColor">(MNT, MNJ)</a> et des
                                collectivités (mairies).
                            </p>
                            <p class=" pt-2">
                                Mon champs d'intervention est la Haute-Garonne (31),les Hautes-Pyrénées(65) et l'Ariège
                                (09).
                            </p>
                        </div>
                        <div class="col-lg">
                            <img src="{{ asset('img/cabinet_interieur_dessin.jpg') }}" alt="Intérieur du cabinet de sophrologie" title="Cabinet de sophrologie" class="img-fluid rounded"/>
                        </div>
                    </div>

                    <div class="text-center">
                        <a href="{{ path('home') }}" class="btn btnSuite mt-5 px-4 py-2 effetHover" title="Retour à l'accueil">Retour à l'accueil</a>
                    </div>

                </section>
            </div>
        </div>
    </div>
</div>

{% endblock %}