{% extends 'base.html.twig' %}

{% block title %}Expériences{% endblock %}

{% block body %}
<div class="p-2 infoPraticienne">
    <div class="container">
        <div class="card m-4 shadow">
            <div class="card-body">
                <section class="article text-center">
                    <article>
                        <h6>Mes expériences</h6>
                        <div class="content">
                            <img src="#" class="img-fluid p-5" alt="image">
                            <p class="">
                                En parallèle de mon cursus scolaire et universitaire,<br>
                                Je me suis toujours orientée vers des activités professionnelles auprès d’enfants, en
                                tant
                                qu’animatrice, dans
                                l’encadrement,l’organisation et dans la gestion du quotidien.<br>
                                Aussi j’ai choisie l’Aide à domicile, auprès de personne âgées ou dans l’accompagnement
                                au
                                quotidien de
                                personnes en difficultés.<br>
                                Ces différentes expériences, au fil des années, m’ont montrée l’importance d’être à
                                l’écoute de
                                l’autre, de
                                soi, de ce que l’on ressent.<br>
                                Savoir prendre du temps pour s’écouter, les bienfaits d’une attitude positive et que
                                les solutions
                                sont
                                souvent
                                en nous.<br>
                                Je me suis donc orientée dans une profession où l’on est dans l’accompagnement et
                                l’écoute, qui
                                propose
                                de
                                laisser le mental de côté pour s’accorder un temps pour soi, où l’on apprend à faire la
                                parenthèse
                                avec
                                le
                                quotidien pour vivre un moment de détente, positif, et surtout qui donne des outils
                                pour être mieux
                                dans son
                                quotidien.<br>
                                J’ai découvert la sophrologie Caycédienne, une évidence, pas seulement un moment de
                                relaxation,
                                c’est
                                aussi une
                                méthode efficace pour renforcer profondément ses capacités et ses valeurs, mobiliser
                                ses
                                ressources,
                                être à
                                l’écoute de ce qui nous mobilise ou immobilise, pour être en harmonie avec soi-même.<br>
                                « Selon qui nous sommes, nous trouvons nos propres solutions »<br>
                                Je pratique la sophrologie auprès de toutes et tous, en réponse à des difficultés ou
                                par volonté de
                                développement personnel.<br>
                                Depuis 2013, j"anime des séances collectives avec les enfants, de la maternelle au
                                primaire, auprès
                                d'associations, d'amicale laïque, de club-sportif ou sur les temps périscolaires.
                                J'interviens en entreprise pour des modules de préventions sur les risques
                                psychosociaux liée au
                                travail.
                                Je participe à des journée de prévention et de bien-être au travail avec des mutuelles
                                (MNT, MNJ)
                                et
                                des
                                collectivités (mairies).
                                Mon champs d'intervention est la Haute-Garonne (31),les Hautes-Pyrénées(65) et l'Ariège
                                (09).
                            </p>
                            <a href="{{ path('home') }}" class="btn btn-primary btn-sm" title="Retour à l'accueil">Retour
                                à l'accueil'</a>
                        </div>
                    </article>
                </section>
            </div>
        </div>
    </div>
</div>

{% endblock %}