{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}
<div class="pb-2 infoPraticienne">
    <!-- Fil d'ariane -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('home') }}" class="accueilBreadcrumb">Accueil</a></li>
            <li class="breadcrumb-item text-white active" aria-current="page">Ma formation</li>
        </ol>
    </nav>
    <div class="container">
        <div class="card m-4 effetShadow">
            <div class="card-body">
                <section class="article">
                    <article>
                        <h4 class="card-title py-3 text-center">Ma Formation</h4>
                        <hr>
                        <div class="content">
                            <p class="card-text pt-2">Titulaire du diplôme de master spécialiste en Sophrologie
                                Caycédienne et formée en relation d’aide, je pratique la sophrologie depuis l’année
                                2011.
                            </p>
                            <p class="card-text pt-2">
                                Spécialisée dans la prévention et la gestion du stress, des émotions et dans le
                                développement personnel, je propose de vous accompagner avec des techniques de
                                relaxation dynamique adaptées à votre demande.
                            </p>
                            <p class="card-text pt-2">
                                J’ai effectué mon premier cycle de formation à <a href="http://www.vifia-sophrologie31.com/"
                                    title="Ecole de sophrologie Caycédienne VIFIA à Toulouse" target="_blank">l’école
                                    de sophrologie Caycédienne VIFIA à Toulouse</a>,j’ai continué ma formation avec <a
                                    href="https://sofrocay.com/se-former/#programme" title="Académie internationale de Sophrologie Caycédienne en Andorre"
                                    target="_blank">l’académie internationale de Sophrologie Caycédienne en Andorre</a>.
                            </p>
                            <p class="card-text pt-2">
                                Je suis sophrologue de métier ; je reste dans mon champ de compétence ; je n’interviens
                                pas dans
                                les décisions médicales, cependant la sophrologie Caycédienne peut être une pratique
                                complémentaire.
                            </p>
                            <p class="card-text pt-2">
                                Titulaire de mon BAFA, je suis habilitée à encadrer des groupes d’enfants à l’extérieur
                                de mon cabinet de sophrologie et ainsi intervenir dans les écoles, associations ou
                                club-sportif.
                            </p>
                            <p class="card-text pt-2">
                                Formée aux techniques de la sophrologie adaptée aux enfants : <i>la sophro-ludique</i>,
                                je propose aux enfants de se familiariser avec la sophrologie dès leur plus jeune âge.
                            </p>
                            <a href="{{ path('home')}}" class="btn btnSuite mt-5 px-4 py-2 effetHover" title="Retour à l'accueil">Retour
                                à l'accueil</a>
                        </div>
                    </article>
                </section>
            </div>
        </div>
    </div>
</div>

{% endblock %}