{% extends 'base.html.twig' %}

{% block title %}Tarifs Horaires{% endblock %}

{% block body %}

    <h1>Ici c'est les informations sur les Tarifs et Horaires !!</h1>

    <h5>Pour me contacter cliquez sur le bouton !</h5>
    <a href="{{ path('contact') }}"><input type="button" value="Contactez-moi" title="Lien de contact"></a>

{% endblock %}

