{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
<!-- Fil d'ariane -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}" class="accueilBreadcrumb">Accueil</a></li>
        <li class="breadcrumb-item text-white active" aria-current="page">Mentions légales</li>
    </ol>
</nav>
<div class="m-3 p-3">
    <h4>Mentions légales</h4>
    <hr class="my-4">
    <p class="text-secondary font-italic">Anne-Sophie Labat,<br>
        31 Avenue François Mitterrand - 31800 Saint-Gaudens<br>
        (Rez-de-chaussée)<br>
        Tél : 06 88 55 48 03<br>
        N° SIRET : 793 647 652 00015
    </p>
    <br>
    <p class="font-weight-bold mb-0">Directeur de la publication : Anne-Sophie LABAT</p>
    <p>Courriel : contact@sophrologue-labat.fr<br>
        Site internet : <a href="https://www.sophrologue-labat.fr" target="_blank" title="Site D'anne Sophie Labat - Sophrologue"  class="linkColor">https://www.sophrologue-labat.fr</a><br>
        Crédits Photos : © Anne-Sophie Labat © Fotolia.com © JiSign - Fotolia.com<br>
    </p>
    <br>
    <p class="font-weight-bold mb-0">Gestion du Nom de Domaine et conditions d’hébergement</p>
    <p>Nom de l’hébergeur : 1&1 Internet SARL<br>
        SIRET: 431 303 775 000 16 RCS Sarreguemines B 431 303 775<br>
        7, place de la Gare BP 70109 57201 Sarreguemines Cedex<br>
        Tél. : 09 70 80 89 11 <br>
        Site : <a href="http://assistance.1and1.fr/contact" target="_blank" title="Site web de l'h2bergueur 1&1"  class="linkColor">http://assistance.1and1.fr/contact</a>
    </p>
    <br>
    <p class="font-weight-bold mb-0">Conception et intégration site</p>
    <p><a href="https://nativeweb.fr" target="_blank" title="Site web de Native Web"  class="linkColor">Native Web</a>,<br>
        SIRET : 833 527 708 00014<br>
        626 Route des goutillettes, Hameau de Lôo, 31 510 Sauveterre-de-comminges<br>
        Tél. : 07 52 05 18 24 - mob. : 06 59 19 61 23<br>
        Courriel : contact[at]nativeweb.fr<br>
        Site : <a href="https://nativeweb.fr" target="_blank" title="Site web de Native Web"  class="linkColor">https://nativeweb.fr</a><br>
    </p>
    <br>
    <p class="font-weight-bold mb-0">Cookies et données personnelles</p>
    <p>Ce site utilise des cookies relatifs aux services fournis par Google Analytics<br>
        L'utilisation de ces cookies est nécessaire à des fins de statistiques pour ce site internet.<br>
        Ces données sont strictement anonyme et ne permettent en aucun cas d'en identifier les utilisateurs.<br>
        En naviguant sur ce site, vous acceptez l'utilisation des cookies.
    </p>
    <hr class="my-5">
    <p class="text-secondary">Anne-Sophie Labat,<br> Sophrologue Caycédienne</p>
</div

{% endblock %}