{% extends 'base.html.twig' %}

{% block title %}La Sophrologie{% endblock %}

{% block body %}
<div class="pb-2 infoSophro">

    <div class="jumbotron jumbotron-fluid shadow jumbotronTitle">
        <div class="container">
            <h1 class="text-center titrePerso">Les informations sur la Sophrologie Caycédienne</h1>
        </div>
    </div>

    <div class="container">
        <div class="card m-4 effetShadow">
            <div class="card-body">
                <section class="article">
                    <article>
                        <h3 class="card-title py-3 text-center">Le cadre de la sophrologie</h3>
                        <hr>
                        <img src="{{ asset('img/logo_sophrologie_caycedienne.png') }}" class="d-block img-fluid pl-4"
                            alt="image">
                        <hr>
                        <div class="content">
                            <p class="card-text py-3">
                                La <a href="https://sofrocay.com/comprendre/#3" title="La sophrologie Caycédienne"
                                    target="_blank">sophrologie Caycédienne</a> est la sophrologie dans sa forme
                                authentique et avec sa méthodologie originale telle que crée en milieu hospitalier puis
                                développée depuis 1960 par son fondateur, le <b>Dr Alphonso Caycedo</b>, médecin
                                psychiatre.
                            </p>
                            <p class="card-text pt-2">
                                C’est une discipline qui aide chacun à se développer une conscience sereine au moyen
                                d’un entraînement personnel, basé sur des techniques de relaxation et d’activation du
                                corps et de l’esprit...
                            </p>
                            <ul>
                                <li>
                                    Elle se fonde sur l’observation et l’étude de la conscience, de la perception
                                    corporelle et de la relation corps/esprit, ainsi que leur influence sur le mode de
                                    vie.
                                </li>
                                <li>
                                    Son objectif est d’aider à <b>renforcer les attitudes et valeurs positives au
                                        quotidien</b>, dans le champ professionnel comme personnel, ainsi que de
                                    développer les capacités de gestion active du stress et des émotions négatives.
                                </li>
                            </ul>
                            <blockquote>
                                <p class="card-text py-5">
                                    La sophrologie Caycédienne permet à chacun d’optimiser ses capacités et son
                                    efficacité au quotidien.
                                </p>
                            </blockquote>
                            <hr>
                            <h5 class="text-center py-3">
                                Présentation d'une séance d'1 heure :
                            </h5>
                            <ul>
                                <li>Accueil.</li>
                                <li>Présentation de la sophrologie.</li>
                                <li>Présentation de la technique de relaxation dynamique du jour.</li>
                                <li>Installation.</li>
                                <li>Pratique de la sophrologie, 20 à 30 mn selon les techniques.</li>
                                <li>Description, premières impressions et échanges.</li>
                                <li>Fin de la séance, propositions de prochains Rendez-Vous.</li>
                            </ul>
                            <div class="text-center">
                                <a href="{{ path('home') }}" class="btn btnSuite mt-5 px-4 py-2 effetHover" title="Retour à l'accueil">Retour
                                    à l'accueil</a>
                            </div>
                        </div>
                    </article>
                </section>
            </div>
        </div>
    </div>
</div>

{% endblock %}