{% extends 'base.html.twig' %}

{% block title %}Edition{% endblock %}

{% block body %}
    <h1>Edition d'un question/réponse</h1>

    {{ include('admin/faq/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('myFaq') }}" class="btn-sm btn-secondary">Retour à la liste</a>

{% endblock %}
