{% extends 'base.html.twig' %}

{% block title %}Créer{% endblock %}

{% block body %}
    <h1>Créer une nouvelle question/réponse</h1>

    {{ include('admin/faq/_form.html.twig') }}

    <a href="{{ path('myFaq') }}">Retour à la liste</a>
{% endblock %}
