{% extends 'base.html.twig' %}


{% block title %}Créer{% endblock %}

{% block body %}
<h2 class="text-center mt-4">Créer une nouvelle question / réponse</h2>

    {{ include('admin/faq/_form.html.twig') }}

    <a href="{{ path('myFaq') }}" class="btn-sm btn-secondary">Retour à la liste</a>
{% endblock %}
